In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('loan.csv')
data = data.drop(['Loan_ID'], axis=1)
data.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data = data.dropna()

In [4]:
data['Gender'].value_counts()

Gender
Male      394
Female     86
Name: count, dtype: int64

In [5]:
data.replace({"Gender":{"Male":1, "Female":0}, "Married":{"No":0, "Yes":1}, "Education":{"Not Graduate":0, "Graduate":1}}, inplace=True)

In [6]:
data['Dependents'].value_counts()

Dependents
0     274
2      85
1      80
3+     41
Name: count, dtype: int64

In [7]:
data.replace({"Dependents":{'3+':4}, "Self_Employed":{"Yes":1, "No":0}, "Property_Area":{"Semiurban":1, "Urban":0, "Rural":2}, "Loan_Status":{"Y":1, "N":0}}, inplace=True)

In [8]:
X = data.drop(['Loan_Status'], axis=1)
Y = data['Loan_Status']

X.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,2
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,0
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,0
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,0
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,0

In [9]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, stratify=Y, random_state=2)

In [10]:
# model = svm.SVC(kernel="linear")
model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [11]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy : ", accuracy)

Accuracy :  0.825

Logistic - > Accuracy :  0.825

SVM - > Accuracy :  0.8166666666666667