In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd

In [25]:
data = pd.read_csv('predictive_maintainance.csv')
data.drop(['Product ID', 'UDI'], axis=1, inplace=True)
data.replace({"Type":{"M":0, "L":1, "H":2}}, inplace=True)
data.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,1,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,1,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,1,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [26]:
data['Machine failure'].value_counts()

Machine failure
0    9661
1     339
Name: count, dtype: int64

In [27]:
data['Type'].value_counts()

Type
1    6000
0    2997
2    1003
Name: count, dtype: int64

In [28]:
legit = data[data['Machine failure'] == 1]
outlier = data[data['Machine failure'] == 0]

In [29]:
legit2 = outlier.sample(n=339, random_state=42)

In [30]:
legit2.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
6130,1,301.0,310.9,1473,44.2,116,0,0,0,0,0,0
9063,1,297.2,308.3,1419,39.7,115,0,0,0,0,0,0
2751,1,299.7,309.1,1417,50.1,187,0,0,0,0,0,0
5744,2,302.2,311.5,1482,42.6,16,0,0,0,0,0,0
3779,1,302.3,311.0,1657,31.1,3,0,0,0,0,0,0

In [36]:
data = pd.concat([legit, legit2], ignore_index=True)

In [37]:
X = data.drop(['Machine failure'], axis=1)
Y = data['Machine failure']

In [38]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [39]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, random_state=42)

In [40]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((542, 11), (136, 11), (542,), (136,))

In [41]:
model = LogisticRegression()
model.fit(x_train, y_train)

x_test = scaler.fit_transform(x_test)

y_pred = model.predict(x_test)

In [42]:
print("accuracy_score is : ", accuracy_score(y_test, y_pred))

accuracy_score is :  0.9852941176470589

In [43]:
confusion = confusion_matrix(y_test, y_pred)
conf_matrix_df = pd.DataFrame(confusion, columns=['Predicted Negative', 'Predicted Positive'], index=['Actual Negative', 'Actual Positive'])
conf_matrix_df

                 Predicted Negative  Predicted Positive
Actual Negative                  60                   0
Actual Positive                   2                  74