In [142]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [143]:
data = pd.read_csv('titanic.csv')
data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
data.replace({"Sex":{"male":1, "female":0}}, inplace=True)
data['Age'].fillna(data['Age'].mean(), inplace=True)
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    1  22.0      1      0   7.2500        S
1         1       1    0  38.0      1      0  71.2833        C
2         1       3    0  26.0      0      0   7.9250        S
3         1       1    0  35.0      1      0  53.1000        S
4         0       3    1  35.0      0      0   8.0500        S

In [144]:
data['Embarked'].fillna("S", inplace=True)
data.replace({"Embarked":{"S":1, "C":0, "Q":2}}, inplace=True)

In [145]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         1
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         1
3         1       1    0  35.0      1      0  53.1000         1
4         0       3    1  35.0      0      0   8.0500         1

In [146]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [147]:
X = data.drop(['Survived'], axis=1)
Y = data['Survived']

In [148]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, random_state=42)

In [149]:
model = LogisticRegression()
model.fit(x_train, y_train)

c:\Users\samee\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [150]:
y_pred = model.predict(x_test)

In [151]:
Accuracy = accuracy_score(y_test, y_pred)
print("Accuracy : ", Accuracy)

Accuracy :  0.8100558659217877

In [152]:
conf_matrix = confusion_matrix(y_test, y_pred)
conf_matrix_df = pd.DataFrame(conf_matrix, columns=['Predicted Negative', 'Predicted Positive'], index=['Actual Negative', 'Actual Positive'])
conf_matrix_df

                 Predicted Negative  Predicted Positive
Actual Negative                  91                  14
Actual Positive                  20                  54